<div class="row">
  <div class="col-6">

  </div>
  <div class="col-6">
    <h5>Sun Gold Solar (Pvt) Limited</h5>
    Singhagiri Mw,Mudukatuwa <br> Marawila <br> Tel : (+94)32 225 3933 Mobile : (+94)70 432 4100<br> E-mail : info@sungoldsolarpvt.com<br>
    <div style="color:chocolate"> www.sungoldsolarpvt.com</div>
  </div>


</div>
<br><br>

<div class="container">

  <div class="row">
    <div class="col-2">
      Delivery
      <p style="float:right">:</p>
    </div>
    <div class="col-10">
      2-4 week from the date of receipt of confirmed order
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      Payment
      <p style="float:right">:</p>
    </div>
    <div class="col-10">
      20% advance payment with the confirmed order<br> 50% After installment Panels<br> 20% within one week after the installation<br>      10%
      balance payment after net-meeting<br>
    </div>
  </div>
  <BR>
  <div class="row">
    <div class="col-2">
      validity
      <p style="float:right">:</p>
    </div>
    <div class="col-10">
      45 days
    </div>
  </div>
  <BR>
  <div class="row">
    <div class="col-2">
      Mountings
      <p style="float:right">:</p>
    </div>
    <div class="col-10">
      Fully installed by Korea clean energy council accredited electrician<br> Korea standard high-quality electrical component<br>      Installation
      & Transports are free.
    </div>
  </div>

  <BR>
  <div class="row">
    <div class="col-2">
      Warranty
      <p style="float:right">:</p>
    </div>
    <div class="col-10">
      Inverter&nbsp;&nbsp;10&nbsp;&nbsp;&nbsp;&nbsp;years product warranty<br> Panels&nbsp;&nbsp;&nbsp;&nbsp;10&nbsp;&nbsp;&nbsp;&nbsp;years
      product warranty<br> 25 years Linear performance warranty<br> (10 years 90% next 15 years 80% performance)<br>

    </div>
  </div>

  <BR>
  <div class="row">
    <div class="col-2">
      After Sales Service
      <p style="float:right">:</p>
    </div>
    <div class="col-10">
      <p> We are pleased to inform our valued customers that have Twenty Five sales and<br> Dealer Points Island wide.
        All spare parts of the solar system are available at these<br> centers. In case of breakdown, we can immediately attend
        to necessary service
        <br> and repairs during the economic-life of our solar system.
      </p>
    </div>
  </div>

  <BR>
  <div class="row">
    <div class="col-12">
      <p style="text-align:justify">
        We trust, we have quoted in accordance with your requirements and assure you of our best<br> attention in processing
        your order.
      </p>
    </div>
  </div>

  <br><br>
  <br><br><br>
  <div class=" col-4 col-offset-8">
    Thank you,<br> Yours faithfully,<br> Sun Gold Solar (Pvt.) Ltd.
  </div>



</div>
