<div class="footer">

    <div class="container">
        <div class="row">

            <div class="col-4">
                <a target="_blank" href="www.sungoldsolarpvt.com">
                    <p style="text-align: center"> www.sungoldsolarpvt.com</p>
                </a>
            </div>
            <div class="col-4">
                    <a target="_blank" href="https://www.google.lk/maps/@8.0408615,80.4420165,8z?hl=en">
                            <p style="text-align: center"> www.google.lk/maps</p>
                        </a>
            </div>


            <div class="col-4">

                <a target="_blank" href="www.theheavenscode.com">
                    <p style="text-align: center">Designed and Developed by Heaven'sCode</p>
                </a>
            </div>

        </div>
    </div>




</div>