<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="inverters">
            <h2><span>Inverters</span> {{inverters.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Inverter Brand</span></dt>
                <dd>
                    <span>{{inverters.inverterBrand}}</span>
                </dd>
                <dt><span>Inverter Model</span></dt>
                <dd>
                    <span>{{inverters.inverterModel}}</span>
                </dd>
                <dt><span>Inverter Size</span></dt>
                <dd>
                    <span>{{inverters.inverterSize}}</span>
                </dd>
                <dt><span>Inverter Price</span></dt>
                <dd>
                    <span>{{inverters.inverterPrice}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/inverters', inverters.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
