<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-clients-heading">Create or edit a Clients</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!clients.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="clients.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_created">Created</label>
                    <div class="input-group">
                        <input id="field_created" type="text" class="form-control" name="created" ngbDatepicker  #createdDp="ngbDatepicker" [(ngModel)]="clients.created"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="createdDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                        [(ngModel)]="clients.firstName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                        [(ngModel)]="clients.lastName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_designation">Designation</label>
                    <select class="form-control" name="designation" [(ngModel)]="clients.designation" id="field_designation" >
                        <option value="Ms">Ms</option>
                        <option value="Mr">Mr</option>
                        <option value="Mr">Mrs</option>
                        <option value="Miss">Miss</option>
                        <option value="Dr">Dr</option>
                        <option value="Rev">Rev</option>
                        <option value="Sir">Sir</option>

                        <option value="Org">Org</option>
                        <option value="CO">CO</option>
                        <option value="Dept">Dept</option>
                    </select>
                </div>


                <div class="form-group">
                    <label class="form-control-label" for="field_nicNumber">Nic Number</label>
                    <input type="text" class="form-control" name="nicNumber" id="field_nicNumber"
                        [(ngModel)]="clients.nicNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tel">Tel</label>
                    <input type="text" class="form-control" name="tel" id="field_tel"
                        [(ngModel)]="clients.tel" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
