<div class="row">
    <div class="col-6">

    </div>
    <div class="col-6">
        <h5>Sun Gold Solar (Pvt) Limited</h5>
        Singhagiri Mw,Mudukatuwa <br> Marawila <br> Tel : (+94)32 225 3933 Mobile : (+94)70 432 4100<br> E-mail :
        info@sungoldsolarpvt.com<br>
        <div style="color:chocolate"> www.sungoldsolarpvt.com</div>
    </div>


</div>
<br><br>
<h3>Proposed System</h3>
<table class="table">
    <tr>
        <th>System Size</th>
        <td>{{systemSize}} kW</td>
    </tr>
    <tr>
        <th>Unit generates</th>
        <td>{{quotation.unitsGenerates}}(+/-5%)</td>
    </tr>
    <tr>
        <th>Panel Brand</th>
        <td>{{quotation.panelBrand}}</td>
    </tr>

    <tr>
        <th>Panel Model</th>
        <td> {{quotation.panelModel}}</td>
    </tr>

    <tr>
        <th>Number of Panel</th>
        <td> {{quotation.numberofPanels}}</td>
    </tr>

    <tr>
        <th>Panel Capacity</th>
        <td>{{panelCap}} W</td>
    </tr>

    <tr>
        <th>Inverter Brand</th>
        <td> {{quotation.inverterBrand}}</td>
    </tr>

    <tr>
        <th>Inverter Model</th>
        <td> {{quotation.inverterModel}}</td>
    </tr>

    <tr>
        <th>Inverter Capacity</th>
        <td>{{inv}} kW</td>
    </tr>

    <tr>
        <th>Area Needed</th>
        <td>{{quotation.areaNeeded}} ft<sup>2</sup></td>
    </tr>

    <tr>
        <th>Mounting Structure</th>
        <td> {{quotation.mountingStructure}}</td>
    </tr>
</table>
(Actual performance may depend on installation condition & availability of Sunlight)<br><br>


<h3>Safety Level</h3>
Overload protection<br> Short circuit protection<br> Earth fault protection<br> Phase failure protection
<br> Surge protection<br>Low
level cutoff<br><br>

<div class="row">
    <div class="col-6">
        <h3>System Price</h3>
    </div>
    <div class="col-6">
        <h3> Rs.{{systemPrice}}</h3>
    </div>
</div>
