/* reset */

/*scaling*/
/*div.zoomed {
    zoom: 3;
    -moz-transform: scale(3);
    -moz-transform-origin: 0 0;
}

*/

.body .cover {
    background: url(../../../content/images/cover2.jpg);
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;

}

p {
    font-style: none;
}

* {
    border: 0;
    box-sizing: content-box;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: top;
}

/*
@page { size: A4; margin: 0; }
        @media print {
            html, body { width: 210mm; height: 297mm; }
            .ticket { width: 210mm; padding: 20mm; margin: 0; background: white; page-break-after: always; }
        }
*/
/* content editable */

*[contenteditable] {
    border-radius: 0.25em;
    min-width: 1em;
    outline: 0;
}

*[contenteditable] {
    cursor: pointer;
}

*[contenteditable]:hover, *[contenteditable]:focus, td:hover *[contenteditable], td:focus *[contenteditable], img.hover {
    background: #DEF;
    box-shadow: 0 0 1em 0.5em #DEF;
}

span[contenteditable] {
    display: inline-block;
}

/* heading */

h1 {
    font: bold 100% sans-serif;
    letter-spacing: 0.5em;
    text-align: center;
    text-transform: uppercase;
}

/* table */

table {
    font-size: 75%;
    table-layout: fixed;
    width: 100%;
}

table {
    border-collapse: separate;
    border-spacing: 2px;
}

th, td {
    border-width: 1px;
    padding: 0.5em;
    position: relative;
    text-align: left;
}

th, td {
    border-radius: 0.25em;
    border-style: solid;
}

th {
    background: #fff;
    border-color: #BBB;
}

td {
    border-color: rgb(204, 201, 201);
}

/* page */

html {
    font: 16px/1 'Open Sans', sans-serif;
    overflow: auto;
    padding: 0.3in;
}

html {
    background: rgb(168, 44, 44);
    cursor: default;
}

body {
    box-sizing: border-box;
    min-height: 11.69in;
    margin: 0 auto;
    overflow: hidden;
    padding: 0.4in;
    width: 8.27in;
}

body {
    background: #FFF;
    border-radius: 1px;
    box-shadow: 0 0 1in -0.1in rgba(0, 0, 0, 1);
}

.page {
    box-sizing: border-box;
    min-height: 11.69in;
    margin: 0 auto;
    overflow: hidden;
    padding: 0.2in;
    width: 8.27in;
    background: #FFF;
    border-radius: 1px;
    box-shadow: 0 0 1in -0.1in rgba(0, 0, 0, 1);
    margin-top: 0.5in;
    left: -1.5%;
}

/*div.zoomed {
 zoom: 3;
 -moz-transform: scale(3);
 -moz-transform-origin: 0 0;
}

*/

/* header */

header {
    margin: 0 0 3em;
}

header:after {
    clear: both;
    content: "";
    display: table;
}

header h1 {
    background: #000;
    border-radius: 0.25em;
    color: #FFF;
    margin: 0 0 1em;
    padding: 0.5em 0;
}

header address {
    float: left;
    font-size: 75%;
    font-style: normal;
    line-height: 1.25;
    margin: 0 1em 1em 0;
}

header address p {
    margin: 0 0 0.25em;
}

header span, header img {
    display: block;
    float: right;
}

header span {
    margin: 0 0 1em 1em;
    max-height: 25%;
    max-width: 60%;
    position: relative;
}

header img {
    max-height: 100%;
    max-width: 100%;
}

header input {
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

@media print {
    * {
        -webkit-print-color-adjust: exact;
        padding: 0;
    }

    html {
        background: none;
        padding: 0;
    }

    .page {
        box-shadow: none;
        margin: 0;
        page-break-after: always;
        zoom: 1.46;
        padding: 0;
        background: #ffffff;
    }

    span:empty {
        display: none;
    }

    .add, .cut {
        display: none;
    }

    textarea {
        border-style: none;
    }

    .body {
        padding: 0;
        margin: 0;
    }

}

@page {
    margin: 0;
}
